body { font:15px/1.231 "Lucida Grande",verdana,arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
button, label { cursor:default; cursor:pointer; zoom:1; display:block; }
a:link, a:visited, a:active { text-decoration:none; color:#3370C9; outline:none; border:0; }
a:hover  { color: #00508c; text-decoration:underline; border:0; }

body {
  background: #f5f5f5;
}
#wrapper {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin: auto;
  width: 700px;
  border: 1px solid #ccc;
  padding: 16px;
  background: #ffffff;
}
#wrapper ul#tweets {
  margin: 0;
  padding: 0;
}
#wrapper ul#tweets li {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0;
  padding: 12px;
  background: #f8ffbc;
  list-style-type: none;
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 30px;
}
#wrapper ul#tweets li small {

}
#wrapper ul#tweets li img {
  float: left;
  margin-right: 10px;
  width: 48px;
}
#wrapper ul#tweets li div {
}
#wrapper #errors {
  background: #fff;
}
#wrapper #errors ul li {
  list-style-type: square;
  color: red;
  font-weight: bold;
}
#wrapper #form {
}
#wrapper #form label {
  float: left;
  margin-right: 25px;
  font-weight: bold;
  padding: 8px;
}
#wrapper #form input, #wrapper #form textarea {
  border: 1px solid #ccc;
  font-size: 14px;
}
#wrapper #form input:hover, #wrapper #form textarea:hover {
  background: #f5f5f5;
}
#wrapper #form div#username input, div#wrapper #form #password input, #wrapper div#keyword input {
  padding: 8px;
}
#wrapper div#keyword {
  width: 100%;
  height: 100px;
  text-align: center;
}
#wrapper div#keyword input {
  padding: 10px;
  width: 100%;
  font-size: 40px;
  border: 1px solid #ccc;
}
#wrapper #form div#username {
  float: left;
  margin-right: 24px;
  margin-bottom: 5px;
}
#wrapper #form div#password {
  float: left;
  margin-bottom: 5px;
}
#wrapper #form div#comment {
  clear: both;
  margin-bottom: 10px;
}
#wrapper #form div#comment textarea {
  width: 100%;
  height: 60px;
}
#wrapper #form #button {
  background: url(http://s.twimg.com/a/1258674567/images/round-btn.gif) no-repeat;
  border: none;
  width: 115px;
  height: 32px;
  font-size: 14px;
  cursor: pointer;
}
#wrapper #form #button:hover {
  background: url(http://s.twimg.com/a/1258674567/images/round-btn-hover.gif) no-repeat;
}
#wrapper .paging {
  margin-top: 5px;
  margin-bottom: 5px;
}
#wrapper .paging .previous {
  float: left;
}
#wrapper .paging .next {
  float: right;
}